<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Quan Li Ban Laptop</display-name>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/QuanLiBanLaptop</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUsername</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcPassword</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_ND</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_ND</servlet-name>
    <url-pattern>/Admin_ND</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet2</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet2</servlet-name>
    <url-pattern>/ThemND</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet3</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet3</servlet-name>
    <url-pattern>/XoaND</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet4</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet4</servlet-name>
    <url-pattern>/SuaND</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet5</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet5</servlet-name>
    <url-pattern>/CapNhatND</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet6</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet6</servlet-name>
    <url-pattern>/TimKiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet7</servlet-name>
    <servlet-class>QuanLiBanLaptop.Web.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet7</servlet-name>
    <url-pattern>/SignIn_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerServlet8</servlet-name>
    <servlet-class>Controller.LoadSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet8</servlet-name>
    <url-pattern>/Admin_SP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert</servlet-name>
    <servlet-class>Controller.InsertSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/insertSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSP</servlet-name>
    <servlet-class>Controller.DeleteSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSP</servlet-name>
    <url-pattern>/deleteSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadNV</servlet-name>
    <servlet-class>Controller.LoadNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadNV</servlet-name>
    <url-pattern>/Admin_NV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertNV</servlet-name>
    <servlet-class>Controller.InsertNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNV</servlet-name>
    <url-pattern>/insertNV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNV</servlet-name>
    <servlet-class>Controller.DeleteNV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNV</servlet-name>
    <url-pattern>/deleteNV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadKH</servlet-name>
    <servlet-class>Controller.LoadKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadKH</servlet-name>
    <url-pattern>/Admin_KH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertKH</servlet-name>
    <servlet-class>Controller.InsertKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertKH</servlet-name>
    <url-pattern>/insertKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteKH</servlet-name>
    <servlet-class>Controller.DeleteKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteKH</servlet-name>
    <url-pattern>/deleteKH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadHD</servlet-name>
    <servlet-class>Controller.LoadHD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHD</servlet-name>
    <url-pattern>/Admin_DH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertHD</servlet-name>
    <servlet-class>Controller.InsertHD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertHD</servlet-name>
    <url-pattern>/insertHD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteHD</servlet-name>
    <servlet-class>Controller.DeleteHD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHD</servlet-name>
    <url-pattern>/deleteHD</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
</web-app>